/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Sevillana&family=Teko:wght@300;400;500;600&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sevillana', cursive;
font-family: 'Teko', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}

:root{
    --primary-color:#FF6666;
    --secondr-color:#af1313;
}
a{
    text-decoration: none;
}

