ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul li {
  width: 300px;
  height: 300px;
    border: 1px solid rgb(233, 220, 220);
    margin: 0.5rem;
    border-radius: 10px;
}
ul li:hover{
    opacity: 0.9;
}
a img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80%;
    width: 100%;
}